.image {
    position: relative;

    .ls-blur-up-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    img {
        width: 100%;
        display: block;
        transition: 0.6s ease;
        transition-property: opacity;

        &.lazyload {
            opacity: 0;
        }

        &.lazyloaded {
            opacity: 1;
        }
    }
}

picture {
    display: block;
}
